[submodule "jito-protos/protos"]
	path = jito-protos/protos
	url = https://github.com/jito-labs/mev-protos.git
[submodule "jito-protos/bam-protos"]
	path = jito-protos/bam-protos
	url = https://github.com/jito-labs/bam-protos.git
[submodule "geyser-plugin/yellowstone-grpc"]
	path = geyser-plugin/yellowstone-grpc
	url = https://github.com/cpkt9762/yellowstone-grpc.git
	branch = v14.2.2-pre-accounts
